@import url(./reset.css);

:root {
	/* COLORS */
}

html, body {
	font-family: Poppins, sans-serif;
	font-size: 16px;
}

html *, body * {
	/* border: 1px solid green; */
}

body {
	height: 100vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}


.catalog-menu__item:hover,
.card:hover {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	margin: 80px 0 140px 0;
}

.top-header {
	background-color: #000000;
}

.top-header__inner {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 231px;
	padding: 13.5px 0;
	font-size: 14px;
	color: #fafafa;
}

.top-header__inner p a {
	margin-left: 8px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: underline;
}

.language-select {
	display: flex;
	align-items: center;
}

/* HEADER */

.header {
	border-bottom: 0.5px solid #b3b3b3;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 47px 0 23px 0;
}

.logo {
	font-size: 24px;
	font-weight: 700;
	color: #000000;
}

.header-menu {
	margin: 0 130px 0 160px;	
}

.header-menu__list {
	display: flex;
	gap: 48px;
}

.header-menu__list-link {
	text-underline-offset: 6px;
}

.header-search-bar {
	display: flex;
	gap: 24px;
}

.search-bar {
	position: relative;
}

.header-search-bar input {
	height: 38px;
	padding: 7px 50px 7px 20px;
	border: none;
	outline: none;
	background-color:#f5f5f5;
	border-radius: 4px;
}

.header-search-bar input::-webkit-input-placeholder {
	color: #7b7b7b;
}

.search-icon {
	position: absolute;
	right: 0;
	top: 7px;
	margin-right: 12px;
}

.action-bar {
	display: flex;
	align-items: center;
	gap: 16px;
}

.action-bar img {
	height: 32px;
	width: 32px;
}

.active-link {
	text-decoration: underline;
}

/* HERO SECTION */

.hero-section {

}

.hero-section__inner {
	display: flex;
	margin-bottom: 140px;
}

.catalog-menu {
	padding: 40px 16px 0 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
	line-height: 1.5;
	border-right: 0.5px solid #b3b3b3;
}

.catalog-menu__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 51px;
}

.arrow-expand {
	transform: rotate(270deg);
}

.hero-slider {
	position: relative;
	padding: 40px 0 0 45px;
}

.slider-swap {
	position: absolute;
	display: flex;
	gap: 12px;
	bottom: 13px;
	left: 50%;
	transform: translateX(-50%);
}

.slider-swap div {
	width: 12px;
	height: 12px;
	background-color:#7f7f7f;
	border-radius: 50%;
}

.active-slider {
	width: 14px;
	height: 14px;
	background-color:#db4444 !important;
	border: 2px solid #ffffff;
}

/* MAIN SECTION */

.section-description {
	width: 100%;
	display: flex;
	gap: 87px;
	margin-bottom: 40px;
	align-items: end;
}

.section-header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section-header__name {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	color:#db4444;
}

.section-header__name::before {
	content: '';
	display: inline-block;
	margin-right: 16px;
	width: 20px;
	height: 40px;
	background-color: #db4444;
	border-radius: 4px;
}

.section-options {
	width: 100%;
	display: flex;
	align-items: center;
}

.description-text {
	font-size: 36px;
	font-weight: 600;
	white-space: nowrap;
}

.sales-counter {
	display: flex;
	gap: 17px;
	align-items: center;
}

.sales-counter > div > p{
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 4px;
} 

.sales-counter > div > span{
	font-size: 36px;
	font-weight: 600;
} 

.sales-counter > span {
	font-size: 32px;
	font-weight: 500;
	color: #db4444;
}

.paginator {
	display: flex;
	gap: 8px;
	flex: 1;
	justify-content: flex-end;
}

.arrow-left, 
.arrow-right {
	padding: 11px;
	background-color: #f5f5f5;
	border-radius: 50%;
}

.cards-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 60px 30px;
	margin-bottom: 60px;
}

.card {
	width: 270px;
	/* height: 350px; */
	position: relative;
}

.card-image-wrapper {
	position: relative;
	width: 270px;
	height: 250px;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.card-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.discount {
	position: absolute;
	top: 12px;
	left: 12px;
	padding: 4px 12px;
	font-size: 12px;
	line-height: 1.5;
	color: #ffffff;
	background-color: #db4444;
	border-radius: 4px;
}

.card-options {
	position: absolute;
	top: 12px;
	right: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card-options__icon {
	padding: 5px;
	background-color: #ffffff;
	border-radius: 50%;
}

.card-details {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card-details > * {
	line-height: 1.5;
}

.card-name {
	font-weight: 500;
}

.card-price {
	display: flex;
	gap: 12px;
	font-weight: 500;
}

.new-price {
	color: #db4444;
}

.old-price {
	color: #808080;
	text-decoration: line-through;
}

.rate {
	display: flex;
	gap: 8px;
	align-items: center;
	font-weight: 500;
}

.card-rate {
	font-size: 14px;
	line-height: 1;
	color:#808080;
}

.color-version {
	display: flex;
	align-items: center;
	gap: 8px;
}

.active-color {
	height: 20px;
	width: 20px;
	border: 2px solid #000000;
	padding: 2px;
	border-radius: 50%;
}

.active-color div {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.nonactive-color {
	height: 20px;
	width: 20px;
	background-color: #db4444;
	border-radius: 50%;
}

/* BUTTONS */

.button-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.button {
	font-size: 16px;
	/* line-height: 1.5; */
	font-weight: 500;
	border-radius: 4px;
	border: none;
	white-space: nowrap;
}

.button-primary {
	padding: 16px 48px;
	color: #ffffff;
	background-color: #db4444;
}

.button-secondary {
	padding: 16px 48px;
	color: #000000;
	font-weight: 600;
	background-color: transparent;
	border: 2px solid #808080;
}

.button-special-offer {
	padding: 16px 48px;
	color: #ffffff;
	background-color: #00ff66;
}

.button-sign-red {
	width: 100%;
	padding: 16px 0;
	color: #ffffff;
	background-color: #db4444;
}

.button-sign-white {
	width: 100%;
	padding: 16px 0;
	color: #000000;
	background-color: #ffffff;
}

.button-buy {
	width: 100%;
	padding: 10px 48px;
	color: #ffffff;
	background-color: #db4444;
}

.button-icon {
	background-color: transparent;
	padding: 5px;
	border: 1px solid #808080;
	border-radius: 4px;
}

.button-icon img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.divider {
	margin: 70px 0;
	border: none;
	height: 0.5px;
	background-color: #b3b3b3;
}

.category-list {
	display: flex;
	gap: 30px;
}

.category {
	width: 170px;
	padding: 25px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
}

.new-incoming {
	position: absolute;
	top: 12px;
	left: 12px;
	padding: 4px 12px;
	font-size: 12px;
	line-height: 1.5;
	color: #ffffff;
	background-color: #00ff66;
	border-radius: 4px;
}

.special-offer {
	width: 100%;
	height: 500px;
	margin: 140px 0 71px 0;
	display: flex;
	background-color: #000000;
}

.special-offer__left {
	width: 443px;
	margin: 69px 0 0 56px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.special-offer__left > p {
	color: #00ff66;
	font-size: 16px;
	font-weight: 500;
}

.special-offer__left > h3 {
	font-size: 48px;
	color: #fafafa;
	font-weight: 500;
	line-height: 1.2;
}

.special-offer__counter {
	display: flex;
	gap: 24px;
}

.special-offer__counter div {
	height: 62px;
	width: 62px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000000;
	background-color: #ffffff;
	border-radius: 50%;
	line-height: 1.1;
}

.special-offer__counter span {
	font-size: 16px;
	font-weight: 600;
}

.special-offer__counter p {
  font-size: 11px;
}

.special-offer__right {
	position: relative;
	margin-left: 27px;
}

.special-offer__right img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.special-offer__right-shadow {
	position: absolute;
	width: 550px;
	height: 500px;
	top: 0; 
	right: 0;
	background-color: #333333;
	border-radius: 50%;
	filter: blur(70px);
}

.featured-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	color: #fafafa;
}

.featured-cards img {
	height: 100%;
}

.playstation, 
.women-collection,
.speakers,
.perfume {
	position: relative;
	border-radius: 4px;
}

.playstation {
	grid-row: 1 / 3;
	grid-column: 1 / 3;
	padding: 89px 30px 0 29px;
	background-color: #000000;
}

.women-collection {
	grid-row: 1 / 2;
	grid-column: 3 / 5;
	padding: 0 0 0 138px;
	background-color: #0d0d0d;
}

.speakers {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

.perfume {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
}

.speakers, 
.perfume {
	position: relative;
	display: inline-block;
	padding: 31px 40px;
	background-color: #000000;
}

.speakers img, 
.perfume img {
	position: relative;
	z-index: 1;
}

.perfume::before,
.speakers::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(214, 214, 214, 0.4);
  border-radius: 50%;
  filter: blur(90px);
  z-index: 1;
}

.featured-description {
	position: absolute;
	left: 29px;
	bottom: 29px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	z-index: 2;
}

.featured-description h4 {
	font-size: 24px;
	font-weight: 500;
}

.featured-description p {
	font-size: 14px;
}

.featured-description a {
	font-size: 16px;
	font-weight: 500;
	text-decoration: underline;
	line-height: 1.5;
}

.services {
	display: flex;
	justify-content: center;
	gap: 88px;
	margin-top: 140px;
}

.services-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service-icon {
	height: 80px;
	width: 80px;
	margin-bottom: 24px;
}

.service-name {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 8px;
	line-height: 1.5;
}

.service-description {
	font-size: 14px;
}

.footer {
	background-color: #000000;
}

.footer-menu {
	padding: 80px 0 60px 0;
	display: flex;
	gap: 87px;
}

.footer-menu__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
	line-height: 1.5;
}

.footer-menu__title,
.footer-menu__link,
.footer-menu__exclusive {
	color: #fafafa;
}

.footer-menu__exclusive {
	font-size: 24px;
	font-weight: 600;
}

.footer-menu__title {
	font-size: 20px;
	font-weight: 400; 
	margin-bottom: 8px;
}

.input-wrapper {
	position: relative;
}

.footer-menu__input {
	width: 100%;
	padding: 12px 16px;
	margin-top: 16px;
	font-size: 16px;
	background: transparent;
	border: 1px solid #fafafa;
	border-radius: 4px;
	color: #ffffff;
}

.footer-menu__input::-webkit-input-placeholder {
	color: #646464;
}

.send-icon {
	position: absolute;
	right: 15px;
	top: 28px;
}

.footer-menu__link {
	font-weight: 300;
}

.footer-menu__description {
	font-size: 12px;
	color: #afafaf;
	margin-bottom: 8px;
}

.app-download {
	display: flex;
	gap: 8px;
}

.app-links {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.socials {
	display: flex;
	gap: 24px;
	align-items: center;
}

.copyright {
	position: relative;
	display: flex;
	justify-content: center;
	padding: 16px 0 24px 0;
	font-size: 16px;
	color: #3d3d3d;
}

.copyright::before {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 100%;
	margin-bottom: 10px;
	height: 1px;
	background-color: #141414;
}

/* -------------- SIGNUP PAGE ----------*/ 

.signup__inner {
	/* padding: 60px 0 140px 0; */
	display: flex;
	gap: 129px;
}

.signup__inner > img {
	padding: 0;
	height: 100%;
}

.signup-form {
	padding: 125.5px 0;
}

.sign-input {
	border: none;
	border-bottom: 1px solid #808080;
	outline: none;
	line-height: 1.5;
}

.sign-input::-webkit-input-placeholder {
	color: #999999;
}

/* NOT-FOUND PAGE */

.roadmap {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 80px 0 80px 0;
	color: #808080;
	font-size: 14px;
}

.separator {
	margin: 0 5px;
}

.current-road {
	color: #000000;
}

.not-found__inner {
	margin-top: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.not-found__inner h1 {
	display: flex;
	font-size: 110px;
	font-weight: 500;
	margin-bottom: 40px;
}

.not-found__inner p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 80px;
}

/* WISHLIST */

.wishlist__inner {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.wishlist-header {
	font-size: 20px;
}

.wishlist-section-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* PRODUCT PAGE */

.product-card {
	max-width: 400px;
	display: flex;
	gap: 70px;
	margin-bottom: 140px;
}

.product-gallery {
	display: flex;
	align-items: center;
	gap: 30px;
}

.main-image {
	width: 500px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 27px;
	background-color: #f5f5f5;
	border-radius: 4px;

}

.main-image img {
	width: 100%;
}

.thumbnail-slider {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.thumbnail {
	width: 170px;
	height: 138px;
	padding: 12px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #f5f5f5;
	border-radius: 4px;

}

.thumbnail img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.product-info {
	display: flex;
	flex-direction: column;
	gap: 16px;
	line-height: 1.5;
}

.product-name {
	font-size: 24px;
	font-weight: 600;
}

.product-rate {
	display: flex;
	align-items: center;
}

.reviews-counter {
	margin: 0 16px 0 8px;
	font-size: 14px;
	color: #808080;
}

.product-availability {
	display: flex;
	font-size: 14px;
	color: #66ffa3;
}

.product-availability::before {
	display: inline-block;
	content: '';
	height: 1em;
	width: 1px;
	margin-right: 16px;
	background-color: #808080;
	vertical-align: middle;
}

.product-price {
	font-size: 24px;
}

.product-description {
	font-size: 14px;
	text-align: justify;
}

.order-variants {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.order-variants::before {
	display: inline-block;
	margin-top: 24px;
	content: '';
	height: 1px;
	width: 100%;
	background-color: #808080;
}

.color-variants{
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.color-list {
	display: flex;
	align-items: center;
	gap: 8px;
}

.color-list__item {
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
}

.color-list__item.active {
	border: 2px solid #000000;
	padding: 2px;
}

.color-list__item div {
	height: 100%;
	width: 100%;
	border-radius: 50%
}

.size-variants {
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.size-list {
	display: flex;
	align-items: center;
	gap: 16px;
}

.size-list__item {
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #808080;
	border-radius: 4px;
}

.purchaze-variants {
	display: flex;
	gap: 16px;
	margin-bottom: 40px;
}

.quantity {
	display: inline-flex;
	border: 1px solid #808080;
	border-radius: 4px;
	padding: 0;
}

.quantity-minus,
.quantity-plus {
	padding: 10px 8px;
	border: none;
	/* padding: 0; */
}

.quantity-minus img,
.quantity-plus img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.quantity-minus {
	background-color: transparent;
	border-right: 1px solid #808080;
}

.quantity-plus {
	background-color: #db4444;
	border-left: 1px solid #808080;
}

.quantity-value {
	font-size: 20px;
	padding: 0;
	max-width: 80px;
	text-align: center;
	border: none;
}

.feature-list {
	border: 1px solid #808080;
	border-radius: 4px;
}

.feature-list__item {
	display: flex;
	align-items: center;
	padding: 16px 16px 24px 16px;
}

.feature-list__item a {
	text-decoration: underline;
}

.feature-list__item:nth-child(1) {
	border-bottom: 1px solid #808080;
}

.feature-list__item div {
	margin-left: 16px;
}

.feature-list__item h5 {
	font-weight: 500;
	margin-bottom: 8px;
}

.feature-list__item p {
	font-weight: 500;
	font-size: 12px;
}

/* CHECKOUT PAGE */

.billing-form {
	display: flex;
	gap: 173px;
}

.billing-left {
	max-width: 470px;
}

.checkout__inner h1{
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 48px;
}

.field-list {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.field {
	font-size: 16px;
}

.field label {
	color: #999999;
}

.field label span {
	color: #f1b4b4;
}

.field input {
	padding: 15px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  max-height: 50px;
  background-color: #f5f5f5;
}

.checkbox-field {
	margin-top: 24px;
	display: flex;
	align-items: center;
	gap: 16px;
}

.checkbox-field input {
	margin: 0;
	width: 20px;
	height: 20px;
	accent-color: #db4444;
}

.billing-right {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.order-price {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.order-price > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order-price > div:not(:last-child) {
	padding-bottom: 16px;
	border-bottom: 1px solid #999999;
}

.order-payment {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.order-payment label {
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 16px;
}

.order-payment label input {
	width: 20px;
	height: 20px;
}

.order-payment div {
	margin-left: 155px;
	display: flex;
	align-items: center;
}

.order-coupon {
	display: flex;
	gap: 16px;
}

.order-coupon input {
	border: 1px solid #999999;
	padding: 16px 24px;
	border-radius: 4px;
	font-size: 16px;
}

.order-coupon input::placeholder {
	color: #808080;
}
